Source: node-rollup-plugin-babel
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Section: javascript
Testsuite: autopkgtest-pkg-nodejs
Priority: optional
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs (>= 0.15.6~)
 , ava <!nocheck>
 , node-babel7
 , node-rollup-plugin-json <!nocheck>
 , node-rollup-plugin-node-resolve <!nocheck>
 , node-rollup-plugin-typescript
 , node-rollup-pluginutils
 , node-source-map
 , rollup
Standards-Version: 4.6.1
Vcs-Browser: https://salsa.debian.org/js-team/node-rollup-plugin-babel
Vcs-Git: https://salsa.debian.org/js-team/node-rollup-plugin-babel.git
Homepage: https://github.com/rollup/plugins
Rules-Requires-Root: no

Package: node-rollup-plugin-babel
Architecture: all
Depends: ${misc:Depends}
 , node-babel-core (>= 7)
 , node-babel-helper-module-imports (>= 7)
 , node-rollup-pluginutils (>= 3.1.0~)
Recommends: rollup
Enhances: rollup
Breaks: rollup (<< 0.68.2+ds~)
Description: Seamless integration between Rollup and Babel
 If you're using Babel to transpile your ES6/7 code and Rollup to generate a
 standalone bundle, you have a couple of options:
  * run the code through Babel first, being careful to exclude the module
    transformer, or
  * run the code through Rollup first, and *then* pass it to Babel.
 .
 Both approaches have disadvantages. Using Rollup with rollup-plugin-babel
 makes the process far easier.
 .
 Node.js is an event-based server-side JavaScript engine.
